<nav class="navbar p-3 navbar-principal">
  <div class="w-25" id="Logo">
    <img class="ms-5" src="../assets/Logos/logo.png" width="250px" alt="" />
  </div>
  <div class="w-50" id="Menu">
    <ul class="d-flex justify-content-evenly m-auto lista-menu">
      <h1>¡GESTIÓN DE ACUDIENTES!</h1>
    </ul>
    
  </div>
  <div class="w-25 d-flex justify-content-center">
    <button class="ms-5 agenda-digital" routerLink="/tablero-administrador/">
      VOLVER
    </button>
  </div>
</nav>

<div class="card">
    <div class="card-header">
        Editar Acudiente
    </div>
    <div class="card-body">

<form ngNativeValidate [formGroup]="formularioDeAcudientes" (ngSubmit)="enviarDatos()">

<!--CAMPO DEL NOMBRE DEL ACUDIENTE-->
  
<div class="mb-3"> 
  <label for="" class="form-label">Nombre</label>
  <input required type="text"
    class="form-control" formControlName="Nombre" id="" aria-describedby="helpId" placeholder="Escribe el Nombre del Acudiente">
</div>

<!--CAMPO DEL GENERO DEL ACUDIENTE-->

<div class="mb-3">
    <label for="" class="form-label">Genero</label>
    <input required type="text"
      class="form-control" formControlName="Genero" id="" aria-describedby="helpId" placeholder="Escribe el Genero del Acudiente">
  </div>
  
<!--CAMPO DE LA FECHA DE NACIMIENTO DEL ACUDIENTE-->

<div class="mb-3">
    <label for="" class="form-label">Fecha de nacimiento</label>
    <input required type="text"
      class="form-control" name="" formControlName="Fecha_Nac" id="" aria-describedby="helpId" placeholder="Escribe en formato 'AÑO-MES-DIA'">
  </div>

<!--CAMPO DE PARENTESCO-->

<div class="mb-3">
    <label for="" class="form-label">Parentesco</label>
    <input required type="text"
      class="form-control" name="" formControlName="Parentesco" id="" aria-describedby="helpId" placeholder="Escribe el parentesco del acudiente">
  </div>

  <!--CAMPO DE LA CEDULA DEL ACUDIENTE-->

  <div class="mb-3">
    <label for="" class="form-label">Cedula del acudiente</label>
    <input required type="text"
      class="form-control" name="" formControlName="Cedula_Acudiente" id="" aria-describedby="helpId" placeholder="Escribe la cedula del acudiente">
  </div>

  <!--CAMPO DE LA CEDULA DEL ACUDIENTE-->

  <div class="mb-3">
    <label for="" class="form-label">Correo del acudiente</label>
    <input required type="email"
      class="form-control" name="" formControlName="Correo_Acudiente" id="" aria-describedby="helpId" placeholder="Escribe el correo del acudiente">
  </div>

    <!--CAMPO DEL TELEFONO DEL ACUDIENTE-->

    <div class="mb-3">
        <label for="" class="form-label">Telefono del acudiente</label>
        <input required type="text"
          class="form-control" name="" formControlName="Telefono" id="" aria-describedby="helpId" placeholder="Escribe el telefono del acudiente">
      </div>

      <div class="btn-group" role="group" aria-label="Button group name">
        <button type="submit" class="btn btn-success">Modificar</button>
        <button type="button" routerLink="/agregar-acudiente" class="btn btn-primary">Cancelar</button>
      </div>

</form>

    </div>

</div>