<nav class="navbar p-3 navbar-principal">
    <div class="w-25" id="Logo">
      <img class="ms-5" src="../assets/Logos/logo.png" width="250px" alt="" />
    </div>
    <div class="w-50" id="Menu">
      <ul class="d-flex justify-content-evenly m-auto lista-menu">
        <h1>¡GESTIÓN DE ACUDIENTES!</h1>
      </ul>
      
    </div>
    <div class="w-25 d-flex justify-content-center">
      <button class="ms-5 agenda-digital" routerLink="/tablero-administrador/">
        VOLVER
      </button>
    </div>
  </nav>
  
<div class="top">
<form ngNativeValidate [formGroup]="formularioDeGrupos" (ngSubmit)="enviarDatos()">

    <!-- CAMPO DEL CÓDIGO DEL DOCENTE -->

    <div class="mb-3"> 
        <label for="" class="form-label">Código del Docente</label>
        <input required type="text"
            class="form-control" formControlName="Cod_Docente" id="" aria-describedby="helpId" placeholder="Escribe el Código del Docente">
    </div>

    <!-- CAMPO DEL GRADO DEL DOCENTE -->

    <div class="mb-3">
        <label for="" class="form-label">Grado</label>
        <input required type="text"
            class="form-control" formControlName="Grado" id="" aria-describedby="helpId" placeholder="Escribe el Grado del Docente">
    </div>

    <!-- CAMPO DEL PERIODO -->

    <div class="mb-3">
        <label for="" class="form-label">Período</label>
        <input required type="text"
            class="form-control" formControlName="Periodo" id="" aria-describedby="helpId" placeholder="Escribe el Período">
    </div>

    <div class="btn-group" role="group" aria-label="Button group name">
        <button type="submit" class="btn btn-success">Modificar</button>
        <button type="button" routerLink="/agregar-grupo" class="btn btn-primary">Cancelar</button>
    </div>

</form>
</div>
