<div class="card-listado">
    <div class="card-body">
        <h1>Lista de docentes</h1>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Cod_Docente</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Género</th>
                        <th scope="col">Fecha de nacimiento</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Cedula</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let docente of Docentes; let icontrol=index">
                        <td>{{docente.Cod_Docente}}</td>
                        <td>{{docente.Nombre}}</td>
                        <td>{{docente.Genero}}</td>
                        <td>{{docente.Fecha_Nac}}</td>
                        <td>{{docente.Correo_Docente}}</td>
                        <td>{{docente.Cedula_Docente}}</td>
                        <td>
                            <a class="btn btn-primary" routerLink="/editar-docente/{{docente.Cod_Docente}}" > Editar </a>  
                            <a class="btn btn-danger" (click)="borrarRegistro(docente.Cod_Docente, icontrol)" role="button">Borrar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
